- var n = 0;
- var myIndex = -1;
- var activeClass;
- var buttonActiveClass;

mixin header(index)
  if !index
    - myIndex = -1;

  - buttonActiveClass = index === 'button' ? '_blue' : '';
  - var buttonActiveClassTwo = index === 1 ? '_blue' : '';

  +b.header&attributes(attributes)
    .container.container_full.header__container
      +e.A.logo
        img(src="assets/images/logo.svg")
      +e.NAV.nav
        +e.UL.menu
          +e.LI.item._mobile
            +e.A.link(href="index.html") Главная
          each link in getData('menu')
            - activeClass = n === index ? 'is-active' : '';
            +e.LI.item
              +e.A.link(href=link[1] class=activeClass)!= link[0]
            - n++;

        +button()(href="shops.html" class=buttonActiveClass).__button Где купить
      +burger-button.__burger
      +button()(href="test.html" class=buttonActiveClassTwo).__mobilebutton Пройти тест
