.header {
  display: block;
  padding: 19px 0 20px;
  background-color: $color-main;
  color: white;
  font-family: $font-second;
  position: relative;
  z-index: 100;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  @include screen('lg') {
    padding: 8px 0;
  }

  @include screen('sm') {
    padding: 16px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: -55px;
    margin-top: 6px;

    @include screen('lg') {
      margin-left: 0;
      margin-top: 0;
      position: relative;
      top: 2px;
    }

    @include screen('sm') {
      top: 4px;
    }

    img {
      width: 298px;

      @include screen('xl') {
        width: 180px;
      }

      @include screen('lg') {
        width: 192px;
      }

      @include screen('sm') {
        width: 98px;
      }
    }
  }

  &__nav {
    align-items: center;
    padding-left: 40px;
    margin-left: auto;

    @include screen('lg', min) {
      display: flex !important;
    }

    @include screen('lg') {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      color: $color-grey;
      height: calc(100vh - 100%);
      overflow: auto;
      padding: 30px 18px;
      background-color: rgba(white, .96);
      box-sizing: border-box;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: opacity $ease-main, transform $ease-main;

      &:not(.is-active) {
        opacity: 0;
        transform: scale(.9);
      }
    }

    @include screen('sm') {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @include screen('lg') {
      display: block;
    }
  }

  &__item {
    @include screen('lg') {
      margin-bottom: 24px;
    }

    @include screen('sm') {
      margin-bottom: 18px;
    }

    &_mobile {
      @include screen('sm', min) {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
    font-size: 18px;
    line-height: normal;
    transition: opacity $ease-main;
    border-radius: 100px;
    height: 64px;
    line-height: 64px;
    padding: 0 32px;
    display: block;

    &.is-active {
      background-color: $color-blue;
      pointer-events: none;

      @include screen('lg') {
        background-color: transparent;
        color: $color-blue;
      }
    }

    &:hover {
      opacity: .5;
    }

    @include screen('xl') {
      padding: 0 29px;
    }

    @include screen('lg') {
      font-size: 35px;
      font-weight: 500;
      height: auto;
      padding: 0;
      line-height: normal;
    }

    @include screen('sm') {
      font-size: 20px;
    }
  }

  &__button {
    margin-left: 27px;

    @include screen('lg') {
      background-color: transparent;
      line-height: normal;
      font-size: 35px;
      color: inherit;
      font-weight: 500;
      padding: 0;
      height: auto;
      margin-left: 0;
    }

    @include screen('sm') {
      font-size: 20px;
    }
  }

  &__mobilebutton {
    margin-left: auto;

    @include screen('lg', min) {
      display: none;
    }
  }

  &__burger {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    @include screen('lg', min) {
      display: none;
    }
  }
}
