- var n = 0;
- var myIndex = -1;
- var activeClass;
- var buttonActiveClass;

mixin header(index)
  if !index
    - myIndex = -1;

  +b.header&attributes(attributes)
    .container.container_full.header__container
      +e.A.logo
        img(src="assets/images/logo.svg")
      +e.NAV.nav
        +e.UL.menu
          each link in getData('menu')
            - activeClass = n === index ? 'is-active' : '';
            +e.LI.item
              +e.A.link(href="#" class=activeClass)!= link
            - n++;

        - buttonActiveClass = index === 'button' ? '_blue' : '';
        +button()(href="shops.html" class=buttonActiveClass).__button Где купить?
      +burger-button.__burger
