extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Статья'
  - var activePoint = 3;

block content
  +breadcrumbs(['Главная', 'Статьи', 'Собаку укусил клещ, что делать?'])

  +section-nocontainer._padding_two
    +b.article
      +e.head
        .container.container_small
          +e.H1.title Собаку укусил клещ, что делать?
          +e.description С приходом первых теплых дней хозяевам собак стоит быть особенно внимательными к своим питомцам. Любая прогулка, на природе или в городском парке, может закончиться встречей с клещом, паразитом, одинаково опасным для животного и человека. Несмотря на маленький размер, клещи могут нанести серьезный урон здоровью.

      +e.content
        .container.container_small
          +content-zone.content-zone_article
            h2 Как нападают клещи и чем они опасны?
            p Сам по себе паразит не представляет серьезной угрозы: хотя клещ и питается кровью, серьезно обескровить животное он не сможет. Главная опасность – заболевания, которые он может переносить. Не все клещи являются переносчиками болезней, но выяснить это наверняка можно только с помощью лабораторного исследования.
            p Клещ попадает на жертву с низкой растительности (травы и кустов). Он не сразу впивается в жертву, ему нужно некоторое время, чтобы добраться до подходящего места на теле животного. Как правило паразиты выбирают места с тонкой кожей, небольшим количеством шерсти и близким расположением кровеносных сосудов (голова, уши, лапы).
            p Понять, что собаку укусил клещ, до его обнаружения, крайне сложно. Впиваясь в кожу, он выделяет специальное вещество, которое как бы обезболивает место укуса. Первые симптомы заболеваний (изменение поведения, отказ от еды, повышение температуры) могут проявиться не сразу. Время появления первых признаков болезни варьируется от 2-14 дней до несколько месяцев и зависит от возбудителя инфекции, которую передал собаке клещ. К моменту появления первых симптомов заболевания организм собаки может серьезно ослабеть. В таком случае требуется квалифицированная помощь ветеринара, который назначит специальное лечение.
            h2 Как нападают клещи и чем они опасны?
            p Сам по себе паразит не представляет серьезной угрозы: хотя клещ и питается кровью, серьезно обескровить животное он не сможет. Главная опасность – заболевания, которые он может переносить. Не все клещи являются переносчиками болезней, но выяснить это наверняка можно только с помощью лабораторного исследования.
            ol
              li Успокойте собаку, сделайте так, чтобы она была максимально неподвижна.
              li Уберите шерсть с области укуса.
              li Продезинфицируйте место укуса и инструмент, которым будете удалять паразита, наденьте перчатки.
              li Плотно захватите клеща у основания хоботка, как можно ближе к коже животного.
              li Плавными и аккуратными движениями выкрутите клеща – он должен повернуться несколько раз вокруг своей оси.
              li Обработайте ранку, извлеченного клеща поместите в небольшую плотно закрывающуюся емкость, чтобы направить его на исследование.
            p Нельзя:
            ul
              li заниматься удалением паразита без перчаток и дезинфицирующих средств;
              li давить клеща, резко тянуть его, оставлять лапки и голову в теле животного;
              li обрабатывать клеща и место укуса маслом, бензином и другими жидкостями, кроме дезинфицирующих.
            p Если при обнаружении клеща нет возможности обратиться в ветеринарную клинику, то после процедуры удаления паразита внимательно следите за поведением и состоянием питомца. Наблюдайте за собакой в течение 14 дней. Но помните, что первые признаки заболевания могут проявиться и через несколько недель и даже месяцев. Изменение поведения, отказ от еды, вялость могут быть признаками заражения. При первых же подозрениях на заболевание, посетите ветеринарного врача. Регулярно осматривайте шерсть собаки, чтобы не допустить появления новых паразитов.

      +e.share
        .container.container_small
          +share

      +e.footer
        .container.container_small
          +button()(href="articles.html") Все статьи
