.article {
  display: block;

  $b: &;

  &__title {
    font-family: $font-second;
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
    color: $color-blue-dark;

    @include screen('lg') {
      font-size: 30px;
      line-height: 1.57;
    }

    @include screen('sm') {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 1.7;
    color: rgba($color-grey-dark, .8);

    @include screen('lg') {
      font-size: 20px;
      line-height: 1.6;
    }

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.72;
      font-weight: bold;
      color: $color-grey-dark;
    }

    &:not(:first-child) {
      margin-top: 23px;

      @include screen('lg') {
        margin-top: 25px;
      }
    }
  }

  &__content {
    padding-top: 32px;
    border-top: 1px solid $color-grey-light-7;
    margin-top: 29px;

    @include screen('lg') {
      margin-top: 23px;
      padding-top: 25px;
    }

    @include screen('sm') {
      margin-top: 20px;
      padding-top: 26px;
    }
  }

  &__share {
    margin-top: 80px;
    border-top: 1px solid $color-grey-light-7;
    padding: 20px 0;

    @include screen('lg') {
      padding: 15px 0;
      margin-top: 77px;
    }

    @include screen('sm') {
      margin-top: 31px;
      padding: 8px 0;
    }
  }

  &__footer {
    text-align: center;
    padding-top: 96px;
    border-top: 1px solid $color-grey-light-7;

    @include screen('lg') {
      padding-top: 40px;
    }

    @include screen('sm') {
      padding-top: 32px;
    }
  }
}
