$default-breakpoit-name: xl;
$default-breakpoint-value: map_has_key($breakpoints, $default-breakpoit-name);
$new-breakpoints: map_remove($breakpoints, $default-breakpoit-name);

.grid {
  font-size: 0;
  display: block; // fallback для старых браузеров
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gap/2;
  margin-right: -$grid-gap/2;
  margin-top: -$grid-gap-vertical;

  @include screen('lg') {
    $grid-gap: 24px;

    margin-left: -$grid-gap/2;
    margin-right: -$grid-gap/2;

    .grid__col {
      padding-left: $grid-gap/2;
      padding-right: $grid-gap/2;
    }
  }

  @include screen('sm') {
    $grid-gap-vertical: 88px;

    margin-top: -$grid-gap-vertical;

    .grid__col {
      padding-top: $grid-gap-vertical;
    }
  }

  $b: &;

  .grid {
    margin-top: 0;
  }

  &__col {
    display: inline-block; // fallback для старых браузеров
    box-sizing: border-box;
    padding: $grid-gap-vertical $grid-gap/2 0;
    margin: 0;

    &_grow {
      display: flex;
      height: auto;
    }

    @include text;

    @for $i from 1 through 15 {

      &_#{$default-breakpoit-name}_#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key) {

          &_#{$key}_#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }
  }

  &_size_one {
    $grid-gap: 230px;
    $grid-gap-vertical: 41px;

    margin-left: -$grid-gap/2;
    margin-right: -$grid-gap/2;
    margin-top: -$grid-gap-vertical;

    #{$b}__col {
      padding: $grid-gap-vertical $grid-gap/2 0;
    }

    @include screen('lg') {
      $grid-gap: 50px;
      $grid-gap-vertical: 25px;

      margin-left: -$grid-gap/2;
      margin-right: -$grid-gap/2;
      margin-top: -$grid-gap-vertical;

      #{$b}__col {
        padding: $grid-gap-vertical $grid-gap/2 0;
      }
    }
  }

  &_size_two {
    $grid-gap: 80px;
    $grid-gap-vertical: 74px;

    margin-left: -$grid-gap/2;
    margin-right: -$grid-gap/2;
    margin-top: -$grid-gap-vertical;

    #{$b}__col {
      padding: $grid-gap-vertical $grid-gap/2 0;
    }

    @include screen('lg') {
      $grid-gap: 50px;
      $grid-gap-vertical: 25px;

      margin-left: -$grid-gap/2;
      margin-right: -$grid-gap/2;
      margin-top: -$grid-gap-vertical;

      #{$b}__col {
        padding: $grid-gap-vertical $grid-gap/2 0;
      }
    }
  }

  &_dogs {
    .grid__col {
      width: 100%;

      @media (min-width: 1280px) {
        width: 33.333%;

        &:nth-of-type(4n) {
          width: 100%;
        }

        &:nth-of-type(4n + 2) {
          .faq-card__image {
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        &:nth-of-type(4n + 3) {
          .faq-card__image {
            left: auto;
            right: 0;
          }
        }
      }

      @media (max-width: 1279px) and (min-width: 768px) {
        width: 50%;

        &:nth-of-type(3n) {
          width: 100%;

          .faq-card__image {
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        &:nth-of-type(3n + 2) {
          .faq-card__image {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
