extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Карта верстки'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="index.html") Главная (index.html)
        +link(href="instruction.html") Инструкция (instruction.html)
        +link(href="faq.html") FAQ (faq.html)
        +link(href="test.html") Тест (test.html)
        +link(href="articles.html") Статьи (articles.html)
