@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  max-width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @include screen('lg') {
    padding-left: 18px;
    padding-right: 18px;
  }

  @include screen('sm') {
    padding-left: 15px;
    padding-right: 15px;
  }

  &_full {
    width: 100%;
  }

  &_small {
    max-width: 880px;

    @include screen('lg') {
      max-width: 690px;
    }
  }
}

html {
  display: flex;
  overflow-y: scroll;
}

body {
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.js-sr {
  visibility: hidden;
}

button, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
