extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Инструкция'
  - var activePoint = 0;

block content
  +breadcrumbs(['Главная', 'Инструкция'])

  +section._padding_one
    +section-header('Инструкция')
      +e.subheading
        p по ветеринарному применению лекарственного препарата Симпaрика (Simparica)
    +section-content._margin_four
      +content-zone.content-zone_description
        p Организация-разработчик: «Zoetis Inc», 10 Sylvan Way, Parsippany, New Jersey 07054, USA
        p Номер регистрационного удостоверения: 840- 3-9.17-4054№ПВИ- 3-9.17/050 39
      +content-zone
        h2 I. Общие сведения
        ol
          li
            p Торговое наименование лекарственного препарата: Симпарика (Simparica).<br> Международное непатентованное наименование: caрoлaнeр.
          li
            p Лекарственная форма: таблетки для перорального применения.<br> Симпарику выпускают в шести дозировках, содержащих в 1 таблетке в качестве действующего вещества саролaнep 5, 10, 20, 40, 80 и 120 мг, а также вспомогательные вещества: лактозы моногидрат, натрия карбоксиметил крахмал, кремния диоксид коллоидный, магния стеарат и вкусоароматическую гранулированную основу.
          li
            p По внешнему виду таблетки квадратной формы с надписью на одной стороне таблетки: «5» (дозировка 5 мг/табл.), «10» (дозировка 10 мг/табл.), «20» (дозировка 20 мг/табл.), «40» (дозировка 40 мг/табл.), «80» (дозировка 80 мг/табл.) или «120» (дозировка 120 мг/табл.), с закругленными углами, коричневого цвета в крапинку.
            p Срок годности лекарственного препарата при соблюдении условий хранения — 2 года с даты производства.<br> Запрещается применять Симпарику после истечения срока годности.
          li
            p Симпарику выпускают расфасованной в блистеры по 1, 3 или 6 таблеток. Блистеры упакованы в картонные коробки. В каждую коробку вложена инструкция по применению на русском языке.
          li
            p Хранят лекарственный препарат в закрытой упаковке производителя, в защищенном от прямых солнечных лучей месте, отдельно от продуктов питания и кормов при температуре от 2 °C до 30 °С.
          li
            p Симпарику следует хранить в местах, недоступных для детей.
          li
            p Неиспользованный лекарственный препарат утилизируют в соответствии с требованиями законодательства.
          li
            p Симпарику отпускают без рецепта ветеринарного врача.

        h2 II. Фармакологические свойства
        ol
          li
            p Симпaрика относится к группе инсектоакарицидных препаратов системного действия.
          li
            p Входящий в состав препарата сароланер – соединение изоксазолиновой группы, активно в отношении блох, иксодовых, саркоптоидных, псороптоидных и демодекозных клещей, паразитирующих на собаках. Сароланер действует в нервно-мышечных синапсах членистоногих и подавляет функцию рецептора нейромедиатора     	гамма-аминомасляной кислоты (ГАМК) и глутаматного рецептора, вызывая неконтролируемую 	нейромышечную активность, приводящую к гибели насекомых и клещей.
            p После перорального введения препарата сароланер быстро всасывается в желудочно-кишечном тракте 	(биодоступность составляет >85 %), поступает в системный кровоток, достигая максимальной концентрации в 	плазме менее чем через 3 часа, проникает в большинство органов и тканей, практически не 	метаболизируется, выводится из организма в неизмененной форме, преимущественно с желчью и фекалиями, 	период полувыведения составляет 10 12 суток.
            p После перорального введения таблетки действие препарата сохраняется на протяжении не менее 5 недель 	(35 дней). Препарат вызывает гибель блох, паразитирующих на собаке, не позже, чем через 3 часа, а 	иксодовых клещей - не позже, чем через 8 часов после введения лекарственного препарата. Гибель блох 	происходит до откладки яиц, что профилактирует контаминацию помещений яйцами и личинками. 	Симпaрика снижает риск передачи возбудителей бабезиоза (Babesia canis), болезни Лайма (Borrelia 	burgdorferi) и анаплазмоза (Anaplasma phagocytophilum), вследствие уничтожения иксодовых клещей до 	передачи возбудителей вышеуказанных болезней.
            p Симпaрика по степени воздействия на организм относится к веществам малоопасным (4 класс опасности по 	ГОСТ 12.1.007) со слабо выраженными кумулятивными свойствами, в рекомендуемой дозе не обладает 	мутагенной, канцерогенной, эмбриотоксической и тератогенной активностью.

        h2 III. Порядок применения
        ol
          li
            p Симпарику назначают собакам для лечения и профилактики энтомозов, вызываемых блохами 	(Ctenocephalides felis, Ctenocephalidеѕ саnis ), акарозов, вызываемых иксодовыми (Dermacentor reticulatus, 	Dermacentor variabilis, Ixodes hexagonus, Ixodes holocyclus, Ixodes ricinus, Ixodes scapularis, Rhipicephalus 	sanguineus, Amblyomma americanum, Amblyomma maculatum), саркоптоидными (Sarcoptes scabiei), 	псороптоидными (Otodectes cynotis) и демодекозными (Demodex canis) клещами.
          li
            p Противопоказанием к применению Симпарики является индивидуальная непереносимость животным 	компонентов препарата, а также выраженные нарушения функции печени и почек. Не подлежат обработке 	больные инфекционными болезнями и выздоравливающие животные, а также щенки моложе 8-недельного 	возраста.
          li
            p При работе с Симпарикой следует соблюдать общие правила личной гигиены и техники безопасности, 	предусмотренные при работе с лекарственными препаратами.<br> Во время работы запрещается курить, пить и принимать пищу, по окончании работы следует тщательно 	вымыть руки водой с мылом. Людям с гиперчувствительностью к компонентам препарата следует избегать прямого контакта с 	Симпарикой. В случае проявления аллергических реакций или при случайном попадании препарата в 	организм человека следует немедленно обратиться в медицинское учреждение (при себе иметь инструкцию 	по применению препарата и этикетку).
          li
            p Специальных исследований по применению беременным и кормящим сукам не проводилось. Возможность 	применения препарата этим группам животных определяет лечащий ветеринарный врач на основании 	оценки соотношения пользы к возможному риску его применения.
          li
            p Симпарику применяют собакам в любое время года индивидуально перорально с руки, или в смеси с кормом, 	или вводят принудительно в пасть в минимальной дозе 2 мг сароланера на один килограмм массы животного. 	Прием корма на биодоступность сароланера не влияет. Препарат обладает привлекательным вкусом и, как 	правило, охотно поедается собаками. Следует убедиться в том, что собака проглотила таблетку с необходимой 	дозой препарата.
            p Дозы Симпарики в зависимости от массы животного и используемой дозировки представлены в таблице.
            .table-wrap
              table(cellpadding=0 cellspacing=0)
                tr
                  th Масса животного (кг)
                  th Содержание Салоранера<br> в таблетке (мг)
                  th Маркировка<br> на применяемых таблетках
                  th Кол-во применяемых<br> таблеток
                tr
                  td 1,3 — 2,5
                  td 5
                  td 5
                  td 1
                tr
                  td 2,6 — 5,0
                  td 10
                  td 10
                  td 1
                tr
                  td 5,1 — 10,0
                  td 20
                  td 20
                  td 1
                tr
                  td 10,1 — 20,0
                  td 40
                  td 40
                  td 1
                tr
                  td 20,1 — 40,0
                  td 80
                  td 80
                  td 1
                tr
                  td 40,1 — 60,0
                  td 120
                  td 120
                  td 1
                tr
                  td > 60,1
                  td(colspan="3") Применяют подходящую комбинацию таблеток

            p При подборе дозы не допускается разламывать и делить таблетки.
            p В сезон активности блох и иксодовых клещей препарат следует применять ежемесячно.
            p При лечении саркоптоза, демодекоза и отодектоза Симпарику применяют двукратно с интервалом 30 дней.
          li
            p Побочные явления и осложнения при применении препарата в соответствии с инструкцией, как правило, не 	наблюдаются.
            p При повышенной индивидуальной чувствительности к компонентам препарата и появлении аллергических реакций 	его использование прекращают и назначают животному антигистаминные средства, адреномиметики и средства 	симптоматической терапии.
          li
            p При передозировке препарата в очень редких случаях возможны неврологические симптомы: снижение аппетита и 	прироста массы тела, угнетенное состояние, слюнотечение, тремор, атаксия, шаткая походка. Проводят 	симптоматическую терапию.
          li
            p Информация о несовместимости Симпарики с лекарственными препаратами других фармакологических групп 	отсутствует.
          li
            p Особенности действия при первом применении препарата и при его отмене не выявлены.<br> Симпaрика хорошо переносится породами собак с мутациями гена MDR1, чувствительными кавермектинам (колли, 	шелти и другие).
          li
            p Следует избегать нарушений схемы применения препарата, так как это может привести к снижению его 	эффективности. В случае пропуска очередной дозы, применение препарата возобновляют в соответствии с 	настоящей инструкцией.
          li
            p Симпaрика не предназначена для применения продуктивным животным.

      +content-zone._about
        h3 Наименования и адреса производственных площадок производителя лекарственного препарата для ветеринарного применения.
        p Зоэтис Эл Эл Си, 601 В. Корнхаскер Хайвэй, Линкольн, Небраска, 68521, США / Zoetis LLC, 601 W. Cornhusker `Highway, Lincoln, NE Lincoln, NE 68521, USA: производство, контроль качества, Выпуск серии готового лекарственного препарата в обращение.
        p Ховион ФармаСиенция CA, Сете Казас, Лоурес, Португалия 2674-506 | Hovione FarmaCiencia SA Sete Casas, Loures, Portugal.2674-506: производство, контроль качества, выпуск серии промежуточного продукта полученной распылительной сушкой дисперсии (РСД) сароланера.
        p Пэкэджинг Координэйторс Инк, 3001 Рэд Лайон Роуд, Филадельфия, Пенсильвания, США / Packaging Coordinators Inc, 3001 Red Lion Road, Philadelphia, PA 19114, USA: упаковка готового лекарственного препарата.
        p Зоэтис Эл Эл Си, 2605 Е.Килгор Роуд, Каламазу, Мичиган 49001, США | Zoetis LLC, 2605 E. Kilgore Rd, Kalamazoo, MI 4900, USA: упаковка готового лекарственного препарата.
        p ООО «Зоэтис»; 123112, Москва, Пресненская набережная, д. 10. (Наименование и адрес организации, уполномоченной держателем или владельцем регистрационного удостоверение на принятие претензий от потребителя).

      +content-zone._about
        h3 Ислледования по препарату Симпарика (сароланер)
        ol
          li
            p Six RH, Geurden T, Packianathan R, Colgan S, Everett WR, Grace S, Hodge A, Mahabir SP, Myers MR, Slootmans N, Davis K. Evaluation of the effectiveness of a novel oral formulation of sarolaner (Simparica™) for the treatment and control of fleas on dogs // Vet Parasitol. 2016 May 30;222:18-22. doi:10.1016/j.vetpar.2016.02.015. Epub 2016 Feb 17.
          li
            p Geurden T, Becskei C, Grace S, Strube C, Doherty P, Liebenberg J, Mahabir SP, Slootmans N, Lloyd A, Six RH. Efficacy of a novel oral formulation of sarolaner(Simparica™) against four common tick species infesting dogs in Europe // Vet Parasitol. 2016 May 30;222:33-6. doi: 10.1016/j.vetpar.2016.03.024. Epub 2016 Apr 1.
          li
            p Six RH, Becskei C, Carter L, Gale B, Young DR, Mahabir SP, Chapin S, Myers MR. Evaluation of the speed of kill, effects on reproduction, and effectiveness in a simulated infested-home environment of sarolaner (Simparica™) against fleas on dogs // Vet Parasitol. 2016 May 30;222:23-7. doi: 10.1016/j.vetpar.2016.02.026. Epub 2016 Mar 4.
          li
            p Becskei C., De Bock F., Illambas J., Cherni J.A., Fourie J.J., Myers M.R., Mahabir S.P., Six R.H. Efficacy and safety of a novel oral isoxazoline, sarolaner (SimparicaTM), for the treatment of sarcoptic mange in dogs // Vet. Parasitol. Volume 222, 2016, pp. 56-61
          li
            p Six RH, Becskei C, Mazaleski MM, Fourie JJ, Mahabir SP, Myers MR, Slootmans N. Efficacy of sarolaner, a novel oral isoxazoline, against two common mite infestations in dogs: Demodex spp. and Otodectes cynotis // Vet.Parasitol. 222 (2016) 62–66 (A166C-ZA-12-012).
          li
            p Berg TC, Honsgeuer N, Mahabir S, Six R. Evaluation of the Efficacy of PF-06450567 in the Prevention of Borrelia burgdorferi and Anaplasma phagocytophilum Transmission from Wild Caught Ixodes scapularis to Dogs. Study Number A160C-US-12-079. 1 Aug 2014.
          li
            p Geurden T, Stegemann M, Mahabir S, Bruno R, Six R. Evaluation of the Efficacy of PF-06450567 in the Prevention of Babesia canis Transmission by Infected Dermacentor reticulatus to Dogs. Study Number A160C-ZA-13-227. 26 May 2014.
          li
            p Becskei C, De Bock F, Illambas J, Mahabir SP, Farkas R, Six RH. Efficacy and safety of a novel oral isoxazoline, sarolaner (Simparica™) in the treatment of naturally occurring flea and tick infestations in dogs presented as veterinary patients in Europe. Vet Parasitol. 2016 May 30;222:49-55. doi: 10.1016/j.vetpar.2016.02.007. Epub 2016 Mar 16.
          li
            p Six RH, Geurden T, Carter L, Everett WR, McLoughlin A, Mahabir SP, MyersMR, Slootmans N. Evaluation of the speed of kill of sarolaner (Simparica™) against induced infestations of three species of ticks (Amblyomma maculatum, Ixodes scapularis, Ixodes ricinus) on dogs // Vet Parasitol. 2016 May 30;222:37-42. doi: 10.1016 j.vetpar.2016.02.014. Epub 2016 Feb 17.
