mixin test-item(heading, options, n, right)
  +b.test-item&attributes(attributes)
    +e.H2.heading!= heading
    +e.options
      - var i = 0;
      each option in options
        +radio('testAnswer[' + n + ']', option, false).__radio(class=(right === i+1 ? 'is-right' : ''))!= option
        - i++;
    +e.footer
      +button(type="button" disabled).__button.js-test-next Дальше

mixin test(json)
  +b.test&attributes(attributes)
    +e.info
      +e.counter
      +e.progressbar
        span
    +e.FORM.form(action="#" method="post")
      +e.bg
        span
        span
      +slider.__slider.js-test-slider
        .swiper-wrapper
          - var n = 0;
          each item in json
            .swiper-slide
              +test-item(item.heading, item.items, n, item.right)
              - n++;

mixin test-result()
  +b.test._result&attributes(attributes)
    +e.FORM.form(action="#" method="post")
      +e.bg
        span
        span
      +b.test-item._result&attributes(attributes)
        +e.H2.heading В тесте много ошибок
        +e.description
          p 0 – 4 правильных ответа
          p Рекомендуем: наверстать недостающие знания о правилах защиты питомца от наружных паразитов можно в разделе <a href="#">статьи.</a>

        +e.footer
          +button().__button Повторно пройти тест
