.test {
  display: block;

  $b: &;

  &__info {
    display: flex;
    padding: 0 65px;
    box-sizing: border-box;

    @include screen('lg') {
      padding: 0 54px;
    }

    @include screen('sm') {
      padding: 0 0 0 20px;
    }
  }

  &__counter {
    line-height: 31px;
    height: 31px;
    color: white;
    width: 102px;
    margin-right: 18px;
    border-radius: 100px;
    background-color: $color-main;
    text-align: center;
    font-family: $font-second;
    font-size: 16px;
    font-weight: 700;

    @include screen('lg') {
      width: 56px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
    }

    @include screen('sm') {
      width: auto;
      font-size: 9px;
      font-weight: 400;
      color: $color-basic;
      background-color: transparent;
      height: auto;
      line-height: 1;

      &::before {
        content: 'Вопрос ';
      }
    }
  }

  &__progressbar {
    flex: 1;
    background-color: $color-grey-light-3;
    border-radius: 1000px;
    display: flex;
    overflow: hidden;

    @include screen('sm') {
      display: none;
    }

    span {
      width: 0;
      border-radius: 1000px;
      display: block;
      transition: width .7s ease;
      background: repeating-linear-gradient(
          -45deg,
          $color-main,
          $color-main 3px,
          $color-green-light 3px,
          $color-green-light 6px
      ), $color-main;
    }
  }

  &__slider {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @include screen('sm') {
      display: none;
    }

    &::before, &::after, span {
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &::before {
      content: '';
      top: -25px;
      right: -116px;
      width: 239px;
      height: 159px;
      background-image: url('../images/spot_6.svg');

      @include screen('lg') {
        top: 0px;
        right: 0px;
        width: 89px;
        height: 58px;
      }
    }

    &::after {
      content: '';
      bottom: -42px;
      left: -170px;
      width: 350px;
      height: 267px;
      background-image: url('../images/spot_7.svg');

      @include screen('lg') {
        width: 88px;
        height: 65px;
        bottom: 0;
        left: 0;
      }
    }

    span {
      z-index: 1;

      &:first-child {
        right: -8px;
        top: 17px;
        left: 11px;
        bottom: 22px;
        background-image: url('../images/spot_4.svg');

        @include screen('lg') {
          right: 11px;
          top: 7px;
          left: 6px;
          bottom: 10px;
        }
      }

      &:last-child {
        left: 0;
        top: 0;
        right: -55px;
        bottom: 0;
        background-image: url('../images/spot_5.svg');

        @include screen('lg') {
          left: 0;
          top: -1px;
          right: -3px;
          bottom: 0;
        }
      }
    }
  }

  &__form {
    display: block;
    position: relative;
    padding: 95px 300px 111px 180px;

    @include screen('lg') {
      padding: 50px 90px 42px 105px;
    }

    @include screen('sm') {
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    &:not(:first-child) {
      margin-top: 48px;

      @include screen('lg') {
        margin-top: 25px;
      }

      @include screen('sm') {
        margin-top: 11px;
      }
    }
  }
}

// Test-item

.test-item {
  display: block;

  $b: &;

  @include screen('sm') {
    padding: 0 15px;
  }

  &__heading {
    font-family: $font-second;
    font-size: 31px;
    font-weight: bold;
    line-height: 1.2;

    @include screen('lg') {
      font-size: 15px;
    }

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.43;
      padding-left: 20px;
    }
  }

  &__options {
    &:not(:first-child) {
      margin-top: 29px;

      @include screen('lg') {
        margin-top: 18px;
      }

      @include screen('sm') {
        margin-top: 16px;
      }
    }
  }

  &__radio {
    display: block;

    &:not(:first-child) {
      margin-top: 18px;

      @include screen('lg') {
        margin-top: 10px;
      }

      @include screen('sm') {
        margin-top: 12px;
      }
    }
  }

  &__footer {
    &:not(:first-child) {
      margin-top: 49px;

      @include screen('lg') {
        margin-top: 18px;
      }

      @include screen('sm') {
        margin-top: 16px;
      }
    }
  }

  &__button {

  }
}
