.products {
  display: block;

  $b: &;

  &__select {
    width: 120px;
    border: 2px solid $color-yellow;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    appearance: none;
    color: $color-grey;
    line-height: 24px;
    height: 28px;
    padding: 0 30px 0 10px;
    font-weight: 600;
    background-size: 11px 7px;
    background-repeat: no-repeat;
    background-image: url('../images/arrow.svg');
    background-position: right 7px center;

    @include screen('sm', min) {
      display: none;
    }
  }

  &__navigation {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0 75px 0;

    @include screen('lg') {
      margin: 0 -12px;
    }

    @include screen('sm') {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 22px;
      height: 7px;
      left: 100 / 12 * 1%;
      right: 100 / 12 * 1%;
      background-color: $color-grey-light-2;
      border-radius: 100px;

      @include screen('lg') {
        display: none;
      }
    }
  }

  &__button {
    width: 100/6 * 1%;
    text-align: center;
    z-index: 2;
    position: relative;

    @include screen('lg') {
      padding: 0 12px;
    }
  }

  &__dog {
    @include screen('lg') {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    bottom: -29px;
    z-index: -1;
    fill: transparent;
    stroke: $color-yellow;
    height: 167px;
    opacity: 0;
    transition: opacity $ease-main, fill $ease-main, transform $ease-main;
    pointer-events: none;
    transform: translateX(-50%) scale(.9);

    @include screen('lg') {
      display: none;
    }

    #{$b}__button:hover &, #{$b}__button.is-active & {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }

    #{$b}__button.is-active & {
      fill: $color-yellow;
    }
  }

  &__weight {
    font-size: 14px;
    line-height: 1;
    margin-top: 28px;
    color: $color-grey-2;
    transition: color $ease-main;

    @include screen('lg') {
      margin-top: 0;
      line-height: 39px;
      font-family: $font-second;
      padding: 0 5px;
      border-radius: 100px;
      background-color: $color-yellow;
      color: white;
      transition: background-color $ease-main;
    }

    #{$b}__button.is-active & {
      color: white;

      @include screen('lg') {
        background-color: $color-main;
      }
    }
  }

  &__products {
    position: relative;

    &:not(:first-child) {
      margin-top: 138px;

      @include screen('lg') {
        margin-top: 132px;
      }

      @include screen('sm') {
        margin-top: 100px;
      }
    }
  }

  &__item {
    width: 100%;
    position: relative;
    transform-origin: left center;
    pointer-events: none;
    transition: transform $ease-main, opacity $ease-main;

    &:not(:first-child) {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @include screen('lg') {
      transform: translate3d(0, 0, 0) !important;
      opacity: 0;
    }

    &.is-active {
      @include screen('lg') {
        opacity: 1;
      }
    }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        z-index: #{10 - $i};
      }
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        &:not(.is-active) {
          transform: translate3d(#{-18.4% + 13.6% * ($i - 1)}, 0, 0);
        }

        &.is-active {
          transform: translate3d(#{13.6% * ($i - 1)}, 0, 0);
        }
      }

      &.is-active ~ &:nth-child(#{$i}) {
        transform: translate3d(#{100% - 32% - 13.6% * (6 - $i)}, 0, 0);
      }
    }
  }

  &__product {
    width: 32%;

    @include screen('lg') {
      width: 100%;
    }
  }

  &__wrapper {

  }
}
