mixin zoo-radio(name, value, checked)
  +b.LABEL.zoo-radio&attributes(attributes)
    +e.INPUT.input(name=name, value=value, checked=checked, type="checkbox")
    +e.SPAN.box
    +e.SPAN.content
      block
