.zoo-radio {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  align-items: center;

  $b: &;

  &__input {
    display: none;

    &:checked {
      & + #{$b}__box {
        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &__box {
    display: block;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    position: relative;

    @include screen('lg') {
      width: 34px;
      height: 34px;
      margin-right: 13px;
    }

    @include screen('sm') {
      width: 27px;
      height: 27px;
      border-radius: 4px;
      margin-right: 8px;
    }

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: block;
      opacity: 0;
      transform: scale(0);
      transition: opacity $ease-main, transform $ease-main;
      background-repeat: no-repeat;
      background-image: url('../images/foot.svg');
      background-size: 100% 100%;

      @include center-image;

      @include screen('lg') {
        width: 20px;
        height: 20px;
      }

      @include screen('sm') {
        width: 14px;
        height: 14px;
      }
    }

    #{$b}_plus & {
      &::before {
        background-image: url('../images/plus.svg');
      }
    }

    #{$b}_man & {
      &::before {
        background-image: url('../images/man.svg');
      }
    }
  }

  &__content {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 3px;

    @include screen('lg') {
      font-size: 14px;
      padding-bottom: 0;
    }

    @include screen('sm') {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
