@import '../../node_modules/choices.js/public/assets/styles/choices.css';

.city-select {
  display: block;

  $b: &;

  &::after {
    display: none !important;
  }

  &.is-open {

    .choices__inner .choices__list--single .choices__item {
      color: transparent;
    }
  }

  .choices__list--dropdown {
    background-color: transparent;
    border: 0;
    top: 0;
    margin-top: 0;
    overflow: visible;
    border-radius: 0;

    .choices__list {
      display: none !important;
    }
  }

  .choices__list {
    background-color: transparent;
  }

  .choices__inner, &[data-type*=select-one] .choices__input {
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 !important;
    background-color: transparent;
    min-height: 0;

    @include screen('sm') {
      height: 26px;
      line-height: 26px;
    }

    .choices__list--single {
      padding: 0;

      .choices__item {
        font-family: $font-second;
        font-size: 50px;
        font-weight: 800;
        line-height: 50px;

        @include screen('lg') {
          font-size: 25px;
          line-height: 25px;
        }

        @include screen('sm') {
          font-size: 15px;
          line-height: 26px;
        }
      }
    }
  }

  .choices__input {
    font-family: $font-second;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: white;
    height: 48px !important;

    @include screen('lg') {
      font-size: 25px;
      line-height: 25px;
      height: 42px !important;
    }

    @include screen('sm') {
      font-size: 15px;
      line-height: 26px;
      height: 26px !important;
    }
  }

  .choices__list--dropdown .choices__list {
    max-height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(black, .2);

    @include screen('lg') {
      margin-top: 10px;
    }

    @include screen('sm') {
      margin-top: 5px;
    }
  }

  .choices__list--dropdown .choices__item {
    padding: 15px;
    transition: background-color $ease-main;
    font-size: 14px;
    background-color: $color-main;

    @include screen('sm') {
      padding: 10px;
      font-size: 12px;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: $color-green-dark;
  }
}
