.info-item {
  display: flex;
  align-items: center;

  @include screen('lg') {
    display: block;
    text-align: center;
  }

  $b: &;

  &__image {
    flex-shrink: 0;
    margin-right: 60px;
    width: 90px;
    text-align: center;
    font-size: 0;

    @include screen('lg') {
      margin-right: 0;
      margin-bottom: 27px;
      height: 105px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
    }

    @include screen('sm') {
      height: 66px;
      margin-bottom: 25px;
    }

    img {
      @include screen('sm') {
        max-height: 100%;
      }
    }
  }

  &__text {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
      font-weight: 400;
    }
  }
}
