.product {
  display: block;
  padding: 24px 30px;
  color: white;
  box-sizing: border-box;
  position: relative;
  pointer-events: all;

  @include screen('lg') {
    padding: 2px 18px;
  }

  @include screen('sm') {
    padding: 0 15px;
  }

  $b: &;

  &_yellow { background-color: $color-yellow; }
  &_purple { background-color: $color-purple; }
  &_orange { background-color: $color-orange; }
  &_blue { background-color: $color-blue; }
  &_green { background-color: $color-green; }
  &_brown { background-color: $color-brown; }

  &__image {
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform $ease-main;

    @include screen('lg') {
      width: auto;
      max-width: 100%;
      max-height: 243px;
    }

    @include screen('sm') {
      max-height: 190px;
      margin-bottom: -33px;
    }

    #{$b}.is-active & {
      transform: translate3d(0, -60px, 0);

      @include screen('lg') {
        transform: translate3d(0, -66px, 0);
      }

      @include screen('sm') {
        transform: translate3d(0, -76px, 0);
      }
    }

    #{$b}:not(.is-active):hover & {
      transform: translate3d(5px, 0, 0);
    }
  }

  &__texts {
    font-size: 18px;
    line-height: 1.2;
    position: absolute;
    bottom: 19px;
    left: 30px;
    right: 30px;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
    transition: opacity $ease-main, transform $ease-main;

    @include screen('lg') {
      font-size: 13px;
      bottom: 23px;
    }

    @include screen('sm') {
      font-size: 12px;
      bottom: 6px;
    }

    #{$b}.is-active & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__heading {
    font-weight: 700;
    font-size: inherit;

    @include screen('sm', min) {
      font-family: $font-second;
    }
  }

  &__text {
    &:not(:first-child) {
      margin-top: 2px;

      @include screen('lg') {
        margin-top: 5px;
      }

      @include screen('sm') {
        margin-top: 7px;
      }
    }
  }
}
