mixin breadcrumbs(json)
  +b.SECTION.breadcrumbs&attributes(attributes)
    +e.wrapper
      .container
        +e.UL.list
          each crumb in json
            +e.LI.item
              +e.A.link(href="#")!= crumb
