.breadcrumbs {
  display: block;
  padding: 18px 0;
  position: relative;
  z-index: 2;

  $b: &;

  @include screen('lg') {
    display: none;
  }

  &_blue {
    box-shadow: 0 1px 0 0 rgba(white, .36) inset;
    padding: 15px 0;
    background-color: $color-main;
  }

  &_grey {
    background-color: rgba(76, 76, 76, .04);
  }

  &__list {
    font-size: 0;
  }

  &__link {
    color: black;
    transition: color $ease-main;

    #{$b}_blue & {
      color: white;
    }

    &:hover {
      color: rgba(black, .5);

      #{$b}_blue & {
        color: rgba(white, .5);
      }
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    font-size: 12px;
    line-height: 1.2;

    &:not(:last-child) {
      margin-right: 3px;

      &::after {
        content: ' >';
        color: black;

        #{$b}_blue & {
          color: white;
        }
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }
}
