.breadcrumbs {
  display: block;
  height: 0;
  position: relative;
  z-index: 2;

  $b: &;

  &__wrapper {
    padding: 18px 0;
    background-image: linear-gradient(to bottom, rgba(black, .3), rgba(black, .2) 39%, transparent);
  }

  &__list {
    font-size: 0;
  }

  &__link {
    color: black;
    transition: color $ease-main;

    &:hover {
      color: rgba(black, .5);
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    font-size: 12px;
    line-height: 1.2;

    &:not(:last-child) {
      margin-right: 3px;

      &::after {
        content: ' >';
        color: black;
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }
}
