.footer {
  display: block;
  color: white;

  $b: &;

  @include screen('lg') {
    display: flex;
    flex-wrap: wrap;
  }

  &__top {
    background-color: rgba($color-main, .9);
    padding: 14px 0 9px;
    width: 100%;

    @include screen('lg') {
      order: 1000;
    }

    @include screen('md') {
      padding: 7px 0;
    }
  }

  &__bottom {
    background-color: $color-main;
    padding: 17px 0 18px;

    @include screen('lg') {
      padding-top: 10px;
      padding-bottom: 30px;
    }

    @include screen('md') {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__warning-wrap {
    @include screen('lg') {
      padding: 0 5px !important;
    }

    @include screen('md') {
      padding: 0 15px !important;
    }
  }

  &__warning {
    font-size: 25px;
    letter-spacing: .04em;
    line-height: 1;
    text-align: center;

    @include screen('lg') {
      font-size: 15px;
      letter-spacing: .035em;
    }

    @include screen('md') {
      font-size: 11px;
      line-height: 1.4;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    margin: 0 -30px;
    flex-wrap: wrap;

    @include screen('lg') {
      margin: 0 20px;
    }

    @include screen('md') {
      margin: 0;
      display: block;
    }
  }

  &__col {
    padding: 0 30px;
    box-sizing: border-box;

    @include screen('lg') {
      padding: 18px 19px 0;
    }

    @include screen('md') {
      padding: 0;
      width: 100% !important;
      margin-top: 5px;
    }

    &_info {
      width: 25.1%;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;

      @include screen('lg') {
        order: 0;
        width: 50%;
        margin-top: 3px;
      }

      @include screen('md') {
        font-size: 10px;
        margin-top: 0;
        line-height: 2;
      }
    }

    &_text {
      width: 28%;
      font-size: 14px;
      line-height: 1.43;

      @include screen('lg') {
        order: 2;
        width: 50%;
        font-size: 12px;
        line-height: 1.67;
      }

      @include screen('md') {
        font-size: 10px;
        line-height: 2;
      }

      p {
        &:not(:first-child) {
          @include screen('md', min) {
            margin-top: 5px;
          }
        }
      }
    }

    &_logo {
      margin-left: auto;
      align-self: flex-start;

      @include screen('lg') {
        order: 1;
        width: 50%;
        text-align: right;
      }

      @include screen('md') {
        display: none;
      }
    }
  }

  &__info {
    display: block;

    &:not(:first-child) {
      margin-top: 3px;

      @include screen('md') {
        margin-top: 2px;
      }
    }
  }

  &__field {
    margin-right: 3px;
    display: inline;
  }

  &__value {
    color: $color-blue-light;
    display: inline;
  }

  &__website {
    margin-top: 7px;
    color: $color-blue-light;
    display: inline-block;

    @include screen('lg') {
      margin-top: 22px;
    }

    @include screen('md') {
      margin-top: 2px;
    }
  }

  &__logo {
    img {
      width: 127px;

      @include screen('lg') {
        width: 80px;
      }
    }
  }

  a {
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }
}
