mixin footer()
  +b.footer&attributes(attributes)
    +e.top
      .container.footer__warning-wrap
        +e.P.warning ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ.  НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ  СО  СПЕЦИАЛИСТОМ
    +e.bottom
      .container.container_flex
        +e.grid
          +e.col._info
            +e.info
              +e.SPAN.field E-mail:
              +e.A.value(href="mailto:russia@zoetis.ru") russia@zoetis.ru
            +e.info
              +e.SPAN.field Телефон:
              +e.A.value(href="tel: +7 (499) 922 30 22") +7 (499) 922 30 22
            +e.A.website(href="http://www.zoetis.ru/" target="_blank") zoetis.ru
          +e.col._text
            p Московское представительство ООО Зоэтис
            p 123112, Москва, Пресненская наб., д. 10, блок С, БЦ «Башня на Набережной»
          +e.col._text
            p ©2018 Zoetis Services LLC. Все товарные знаки являются собственностью Zoetis Services LLC, филиалов и/или лицензиаров Zoetis Services LLC. 580981.
          +e.col._logo
            +e.A.logo
              img(src="assets/images/zoetis.svg")
