mixin video-block(video, poster, header, subtext)
  +b.video-block&attributes(attributes)
    .container
      +e.container
        +e.H1.header.js-video-hide!= header
        +e.BUTTON.playbutton(type="button").js-video-button
          +e.IMG.icon(src="assets/images/play.svg")
          +e.IMG.icon(src="assets/images/pause.svg")

        if subtext
          +e.P.subtext.js-video-hide!= subtext

    +e.video
      video(poster=poster src=video).js-video
