.video-block {
  display: block;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: -5px -1px 0;
  padding-bottom: 56.25%;

  $b: &;

  .container {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
  }

  &__container {
    padding: 100px 0 200px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include screen('lg') {
      padding-top: 80px;
      padding-bottom: 140px;
    }

    @include screen('sm') {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    /* #{$b}_small & {
      padding-top: 132px;
      padding-bottom: 318px;

      @include screen('lg') {
        padding-top: 126px;
        padding-bottom: 195px;
      }

      @include screen('sm') {
        padding-top: 40px;
        padding-bottom: 98px;
      }
    } */
  }

  &__header {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.58;
    font-family: $font-second;
    max-width: 810px;
    display: block;
    margin: 0 auto;

    @include screen('lg') {
      font-size: 30px;
      line-height: 1.57;
      max-width: 500px;
    }

    @include screen('sm') {
      font-size: 16px;
      line-height: 1.5;
    }

    #{$b}_small & {
      font-size: 40px;
      max-width: 710px;

      @include screen('lg') {
        font-size: 30px;
        line-height: 1.27;
        max-width: 510px;
      }

      @include screen('sm') {
        font-size: 16px;
        line-height: 1.5;
        max-width: 300px;
      }
    }

    span {
      font-size: 30px;
      position: relative;
      top: -13px;

      @include screen('lg') {
        font-size: 15px;
      }

      @include screen('sm') {
        font-size: 13px;
      }
    }
  }

  &__playbutton {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 32px;
    transition: opacity $ease-main;
    position: relative;
    box-shadow: 0 0 0 5px white inset;
    border-radius: 50%;
    flex-shrink: 0;

    @include screen('lg') {
      margin-top: 25px;
    }

    @include screen('sm') {
      margin-top: 9px;
      width: 26px;
      height: 26px;
      box-shadow: 0 0 0 2px white inset;
    }

    #{$b}_small & {
      margin-top: 31px;

      @include screen('lg') {
        margin-top: 38px;
      }

      @include screen('sm') {
        margin-top: 16px;
      }
    }

    &:hover {
      opacity: .5;
    }
  }

  &__icon {
    transition: opacity $ease-main, transform $ease-main;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &:first-child {
      opacity: 1;

      #{$b}__playbutton.is-active & {
        opacity: 0;
        transform: scale(.8);
      }
    }

    &:last-child {
      opacity: 0;
      transform: scale(.8);

      #{$b}__playbutton.is-active & {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__subtext {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin-top: 271px;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 27px;
    width: 100%;

    @include screen('lg') {
      bottom: 13px;
      font-size: 12px;
    }

    @include screen('sm') {
      bottom: 11px;
      font-size: 10px;
    }
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    video {
      height: 100%;
      width: 177.77777778vh; /* 100 * 16 / 9 */
      min-width: 100%;
      min-height: 56.25vw;
      position: absolute;
      left: 50%; /* % of surrounding element */
      top: 0;
      transform: translate(-50%, 0);
      background-size: cover;
      background-position: center;
      will-change: transform;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(black, .16);
    }
  }

  &__poster {
    @include fill-img;

    opacity: 1;
    transition: opacity $ease-main;
    bottom: unset;

    &.is-active {
      opacity: 0;
    }
  }

  .js-video-hide {
    transition: opacity $ease-main, transform $ease-main;

    &.is-hidden {
      opacity: 0;
      transform: translate3d(0, -5px, 0);
    }
  }
}

// Скрываем кнопку плей на iOS

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
