extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Где купить'
  - var activePoint = 'button';

block content
  +breadcrumbs(['Главная', 'Где купить'])._blue
  +search

  +tabs-content
    +tab-wrapper(data-tab="shops" data-tab-group="shop-list").is-active
      +section._shops
        +shops
    +tab-wrapper(data-tab="map" data-tab-group="shop-list")
      +map#map

  script(src='assets/scripts/libs/choices.min.js')
  script(src="https://api-maps.yandex.ru/2.1/?apikey=46854465-9d52-4498-bc10-a38e12f746cd&lang=ru_RU" type="text/javascript")
