extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Вопросы и ответы'
  - var activePoint = 2;

block content
  +breadcrumbs(['Главная', 'Вопросы и ответы'])

  +section._grey._padding_one
    +section-header('Вопросы и ответы')
    +section-content._margin_two
      +grid
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_1.png', 'Всем ли породам собак можно применять Симпарику?', 'Симпарика была исследована на более чем 100 различных породах собак. Все породы собак, принимавшие участие в исследованиях, хорошо переносили Симпарику при использовании препарата в рекомендованных дозах 1,8. Симпарика так же хорошо переносится такими чувствительными к противопаразитарным препаратам породами, как колли, шелти, бордерколли и другими.')
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_2.png', 'Помогает ли Симпарика при чесотке собак, ушном клеще, демодекозе?', 'Да, Симпарика вызывает гибель чесоточных клещей (саркоптоз), ушного клеща (отодектоз) и возбудителя демодекоза. Если у вас есть подозрения на подобные заболевания, вам необходима консультация ветеринарного врача и подтверждение диагноза.')._blue._center._right_tablet._left_mobile
        +col({xl: 4, lg: 12, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_3.png', 'Есть ли ограничения при применении Симпарики?', 'Препарат Симпарика можно применять щенкам с 8-недельного возраста, всем породам собак весом от 1,3 кг. Если у вашей собаки есть хронические заболевания почек и печени – проконсультируйтесь с ветеринарным врачом. Собакам, больным инфекционными заболеваниями или выздоравливающим от них, Симпарику не дают.')._purple._right._center_tablet._left_mobile
        +col({xl: 12, lg: 6, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_6.png', 'Мою собаку тошнит от противопаразитарных таблеток, будет ли ее тошнить от Симпарики?', '<p>Реакция вашей собаки может быть вызвана 2-ми причинами:</p><ul><li>Возможны проблемы с желудочно-кишечным трактом, тогда вашей собаке требуется пройти обследование у ветеринарного врача и выявить причину заболевания.</li><li>Это реакция на действующее вещество или другие компоненты таблеток, которые вы использовали. Симпарика не содержит компонентов, раздражающих слизистую оболочку желудка и кишечника. Кроме того, концентрация действующего вещества в таблетках Симпарики очень мала, дозировка всего 2-4 мг/кг, поэтому она не раздражает желудок и не вызывает тошноту. В исследованиях более чем на 1500 собаках не было выявлено тошноты и рвоты <sup>1,8</sup>.</li></ul>')._yellow._left_tablet
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_7.png', 'Когда начинает действовать Симпарика? Через сколько времени можно будет гулять с собакой после дачи таблетки?', 'Действие Симпарики на паразитов начинается уже через 3 часа после того, как собака проглотила таблетку. Но максимальное действие достигается на блох через 8 часов, на клещей – через 12 часов после дачи таблетки. Удобно дать таблетку вечером – утром уже можно смело гулять с собакой, не опасаясь блох и клещей.')._purple._left._right_tablet._left_mobile
        +col({xl: 4, lg: 12, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_5.png', 'Могу ли я купать свою собаку. Не смоет ли шампунь защиту?', 'Если вы используете для защиты своей собаки от внешних паразитов Симпарику, вы можете купать ее с шампунями и использовать любые другие косметические средства столько раз, сколько это необходимо. Симпарика не смывается водой и шампунями. Можно гулять с собакой под дождем, купаться в реке и озере, не боясь оставить ее незащищенной от внешних паразитов.')._orange._center._center_tablet._left_mobile
        +col({xl: 4, lg: 6, sm: 12}).grid__col_grow
          +faq-card('assets/images/dog_8.png', 'При укусе клеща возможно заражение пироплазмозом – опасным для собак заболеванием. Защитит ли Симпарика от пироплазмоза мою собаку?', 'Симпарика не только вызывает гибель иксодовых клещей на собаке, но и снижает риск заражения такими опасными болезнями, передаваемыми иксодовыми клещами, как: бабезиоз (пироплазмоз), болезнь Лайма (боррелиоз) и анаплазмоз.')._brown._right

      +accordeon('Список источников')._margin_one
        +content-zone
          +content-zone._about
            ol
              li
                p Six RH, Geurden T, Packianathan R, Colgan S, Everett WR, Grace S, Hodge A, Mahabir SP, Myers MR, Slootmans N, Davis K. Evaluation of the effectiveness of a novel oral formulation of sarolaner (Simparica™) for the treatment and control of fleas on dogs // Vet Parasitol. 2016 May 30;222:18-22. doi:10.1016/j.vetpar.2016.02.015. Epub 2016 Feb 17.
              li
                p Geurden T, Becskei C, Grace S, Strube C, Doherty P, Liebenberg J, Mahabir SP, Slootmans N, Lloyd A, Six RH. Efficacy of a novel oral formulation of sarolaner(Simparica™) against four common tick species infesting dogs in Europe // Vet Parasitol. 2016 May 30;222:33-6. doi: 10.1016/j.vetpar.2016.03.024. Epub 2016 Apr 1.
              li
                p Six RH, Becskei C, Carter L, Gale B, Young DR, Mahabir SP, Chapin S, Myers MR. Evaluation of the speed of kill, effects on reproduction, and effectiveness in a simulated infested-home environment of sarolaner (Simparica™) against fleas on dogs // Vet Parasitol. 2016 May 30;222:23-7. doi: 10.1016/j.vetpar.2016.02.026. Epub 2016 Mar 4.
              li
                p Becskei C., De Bock F., Illambas J., Cherni J.A., Fourie J.J., Myers M.R., Mahabir S.P., Six R.H. Efficacy and safety of a novel oral isoxazoline, sarolaner (SimparicaTM), for the treatment of sarcoptic mange in dogs // Vet. Parasitol. Volume 222, 2016, pp. 56-61
              li
                p Six RH, Becskei C, Mazaleski MM, Fourie JJ, Mahabir SP, Myers MR, Slootmans N. Efficacy of sarolaner, a novel oral isoxazoline, against two common mite infestations in dogs: Demodex spp. and Otodectes cynotis // Vet.Parasitol. 222 (2016) 62–66 (A166C-ZA-12-012).
              li
                p Berg TC, Honsgeuer N, Mahabir S, Six R. Evaluation of the Efficacy of PF-06450567 in the Prevention of Borrelia burgdorferi and Anaplasma phagocytophilum Transmission from Wild Caught Ixodes scapularis to Dogs. Study Number A160C-US-12-079. 1 Aug 2014.
              li
                p Geurden T, Stegemann M, Mahabir S, Bruno R, Six R. Evaluation of the Efficacy of PF-06450567 in the Prevention of Babesia canis Transmission by Infected Dermacentor reticulatus to Dogs. Study Number A160C-ZA-13-227. 26 May 2014.
              li
                p Becskei C, De Bock F, Illambas J, Mahabir SP, Farkas R, Six RH. Efficacy and safety of a novel oral isoxazoline, sarolaner (Simparica™) in the treatment of naturally occurring flea and tick infestations in dogs presented as veterinary patients in Europe. Vet Parasitol. 2016 May 30;222:49-55. doi: 10.1016/j.vetpar.2016.02.007. Epub 2016 Mar 16.
              li
                p Six RH, Geurden T, Carter L, Everett WR, McLoughlin A, Mahabir SP, MyersMR, Slootmans N. Evaluation of the speed of kill of sarolaner (Simparica™) against induced infestations of three species of ticks (Amblyomma maculatum, Ixodes scapularis, Ixodes ricinus) on dogs // Vet Parasitol. 2016 May 30;222:37-42. doi: 10.1016 j.vetpar.2016.02.014. Epub 2016 Feb 17.

