extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Вопросы и ответы'
  - var activePoint = 2;

block content
  +breadcrumbs(['Главная', 'Вопросы и ответы'])

  +section._padding_one
    +section-header('Вопросы и ответы')
    +section-content._margin_two
      +slider(true).js-faq-slider
        +grid.swiper-wrapper
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_1.png', 'После приема таблетки можно ли купать собаку? Не снизится ли противопаразитарное действие?', 'Одним из преимуществ таблеток является то, что купание и мытье не снижает действия препарата. Вы можете мыть вашу собаку, а ваша собака может наслаждаться летними заплывами.')
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_2.png', 'При укусе клеща возможно заражение пироплазмозом – опасным для собак заболеванием. Защитит ли Симпарика от пироплазмоза мою собаку?', 'Симпарика не только вызывает гибель иксодовых клещей, но и снижает риск заражения такими опасными болезнями, передаваемыми иксодовыми клещами, как: пироплазмоз (бабезиоз), Болезнь Лайма (боррелиоз) и анаплазмоз.')._center._blue
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_3.png', 'Есть ли ограничения при применении Симпарики?', 'Препарат Симпарика можно применять щенкам с 8-недельного возраста, всем породам собак весом от 1,3 кг. Если у вашей собаки есть хронические заболевания почек и печени –проконсультируйтесь с ветеринарным врачом.')._right._purple
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_4.png', 'Помогает ли Симпарика при чесотке собак, ушном клеще, демодекозе?', 'Да, Симпарика эффективна против чесоточных клещей, ушного клеща и возбудителя демодекоза. Если у вас есть подозрения на подобные заболевания, вам необходима консультация ветеринарного врача и подтверждение диагноза.')._brown
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_5.png', 'Всем ли породам собак можно применять Симпарику?')._center._orange
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +faq-card('assets/images/dog_1.png', 'Как работает Симпарика против блох в помещении?')._right._green
