.section {
  display: block;
  padding: 89px 0 96px;
  position: relative;

  @include screen('lg') {
    padding: 76px 0 80px;
  }

  @include screen('sm') {
    padding: 33px 0 35px;
  }

  $b: &;

  &_grey {
    background-color: rgba(76, 76, 76, 0.04);
  }

  &_products {
    @include screen('lg') {
      padding-bottom: 0;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    @include screen('lg') {
      font-size: 12px;
      line-height: 1.84;
      max-width: 670px;
    }

    @include screen('sm') {
      line-height: 1.67;
    }

    &:not(:first-child) {
      margin-top: 9px;

      @include screen('lg') {
        margin-top: 21px;
      }

      @include screen('sm') {
        margin-top: 12px;
      }
    }
  }

  &_line {
    &::after {
      content: '';
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      height: 129px;
      background-image: url('../images/line.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: -1;

      @include screen('lg') {
        height: 94px;
        bottom: 49px;
      }

      @include screen('sm') {
        height: 43px;
        bottom: 20px;
      }
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 50px;
    line-height: 1.5;
    color: $color-blue-dark;
    text-align: center;

    @include screen('lg') {
      font-size: 30px;
    }

    @include screen('sm') {
      font-size: 16px;
    }
  }

  &__content {
    &:not(:first-child) {
      margin-top: 65px;

      @include screen('lg') {
        margin-top: 18px;
      }

      @include screen('sm') {
        margin-top: 23px;
      }
    }

    &_margin {
      &_one {
        &:not(:first-child) {
          margin-top: 76px;

          @include screen('lg') {
            margin-top: 21px;
          }

          @include screen('sm') {
            margin-top: 16px;
          }
        }
      }

      &_two {
        &:not(:first-child) {
          margin-top: 147px;

          @include screen('lg') {
            margin-top: 67px;
          }

          @include screen('sm') {
            margin-top: 74px;
          }
        }
      }

      &_three {
        &:not(:first-child) {
          margin-top: 124px;

          @include screen('lg') {
            margin-top: 21px;
          }

          @include screen('sm') {
            margin-top: 17px;
          }
        }
      }
    }
  }

  &__footer {
    text-align: center;

    &:not(:first-child) {
      margin-top: 71px;

      @include screen('lg') {
        margin-top: 48px;
      }

      @include screen('sm') {
        margin-top: 14px;
      }
    }

    &_margin {
      &_one {
        &:not(:first-child) {
          margin-top: 78px;

          @include screen('lg') {
            margin-top: 26px;
          }

          @include screen('sm') {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
