.map {
  display: block;
  height: 856px;
  position: relative;
  z-index: 1;
  min-height: 100%;

  @include screen('lg') {
    height: 541px;
  }

  @include screen('sm') {
    height: 259px;
  }
}
