.accordeon {
  display: block;

  $b: &;

  &__head {
    font-size: 0;
  }

  &__title {
    font-family: $font-second;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    padding-right: 42px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    transition: opacity $ease-main;

    @include screen('lg') {
      padding-right: 37px;
    }

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.57;
      padding-right: 35px;
    }

    &:hover {
      opacity: .5;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 8px;
      width: 26px;
      height: 15px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url('../images/arrow_2.svg');
      transition: transform $ease-main;

      @include screen('lg') {
        top: 9px;
        width: 22px;
        height: 12px;
      }

      @include screen('sm') {
        top: 4px;
        width: 19px;
        height: 11px;
      }
    }

    #{$b}__head.is-active & {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding-top: 30px;
    max-width: 1058px;

    @include screen('lg') {
      padding-top: 21px;
    }

    @include screen('sm') {
      padding-top: 16px;
    }

    &-wrapper {
      display: none;
      will-change: height;
    }
  }

  &_margin {
    &_one {
      margin-top: 74px;

      @include screen('lg') {
        margin-top: 40px;
      }

      @include screen('sm') {
        margin-top: 62px;
        margin-bottom: 30px;
      }
    }
  }
}
