.burger-button {
  display: block;
  width: 35px;
  height: 24px;
  position: relative;
  cursor: pointer;

  $b: &;

  @include screen('sm') {
    width: 22px;
    height: 15px;
  }

  span, &::before, &::after {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: white;
    transition: opacity $ease-main, transform $ease-main;

    @include screen('sm') {
      height: 1px;
      margin-top: 0;
    }
  }

  &::before, &::after {
    content: '';
  }

  &::before {
    transform: translate3d(0, -11px, 0);

    @include screen('sm') {
      transform: translate3d(0, -7px, 0);
    }
  }

  &::after {
    transform: translate3d(0, 11px, 0);

    @include screen('sm') {
      transform: translate3d(0, 7px, 0);
    }
  }

  &.is-active {

    span {
      opacity: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
