.tabs {
  display: block;
  font-size: 0;

  &__tab {
    display: inline-block;
    margin-right: 23px;
    padding-top: 14px;
    border-bottom: 2px solid transparent;
    transition: border-color $ease-main, color $ease-main;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: rgba(white, .5);

    &.is-active {
      border-color: $color-yellow;
      color: white;
    }
  }

  & + &-content { margin-top: 30px; }

  &-content {

    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.is-active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
