mixin shops()
  +b.shops&attributes(attributes)
    +e.row._head
      +e.col._logo
      +e.col._name
      +e.col._site
        +e.P.title Сайт
      +e.col._phone
        +e.P.title Телефон
      +e.col._button
        +e.P.title Показать адреса

    +e.items

    +e.P.noresults К сожалению, результаты по выбранным фильтрам отсутствуют

    +e.P.additional Полный список зоомагазинов и вет-клиник в городе <span class="js-city-name">Москва</span>, где можно купить Симпарику по выгодным ценам.
