.shops {
  display: block;

  $b: &;

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_head {
      padding-bottom: 8px;
      align-items: flex-end;
      border-bottom: 1px solid rgba($color-grey-light-4, .3);

      @include screen('lg') {
        padding-bottom: 15px;
      }

      @include screen('sm') {
        display: none;
      }
    }

    &_shop {
    }
  }

  &__item {
    padding: 36px 0;
    border-bottom: 1px solid rgba($color-grey-light-4, .3);

    @include screen('lg') {
      padding: 22px 0;
    }

    @include screen('sm') {
      padding: 13px 0;
    }
  }

  &__col {
    padding: 0 22px;
    min-height: 1px;
    position: relative;

    @include screen('lg') {
      padding: 0 10px;
    }

    @include screen('sm') {
      padding: 0 5px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &_logo {
      text-align: center;
      width: 110px;

      @include screen('lg') {
        width: 106px;
      }

      @include screen('sm') {
        width: 64px;
        margin-right: 5px;
      }
    }

    &_name {
      width: 22.8%;

      @include screen('lg') {
        width: 19.7%;
      }

      @include screen('sm') {
        width: auto;
        flex: 1;
      }
    }

    &_site {
      width: 20.4%;

      @include screen('sm') {
        display: none;
      }
    }

    &_phone {
      text-align: right;
      width: 13.6%;

      @include screen('lg') {
        width: 17.3%;
      }

      @include screen('sm') {
        width: 27px;
      }
    }

    &_button {
      flex: 1;
      text-align: right;

      @include screen('sm') {
        flex: 0 auto;
        width: 43px;
      }
    }
  }

  &__title {
    color: $color-grey-light-5;
    font-size: 14px;

    @include screen('lg') {
      font-size: 12px;
    }
  }

  &__logo {
    max-width: 100%;
    max-height: 68px;

    @include screen('lg') {
      max-height: 64px;
    }

    @include screen('sm') {
      max-height: 40px;
    }
  }

  &__items {

  }

  &__name {
    font-family: $font-second;
    font-size: 30px;
    font-weight: bold;

    @include screen('lg') {
      font-size: 15px;
    }

    @include screen('sm') {
      font-size: 13px;
    }
  }

  &__phone-icon {
    width: 27px;

    @include screen('sm', min) {
      display: none;
    }
  }

  &__phones {
    @include screen('sm') {
      position: absolute;
      right: -40px;
      top: 100%;
      margin-top: 3px;
      border-radius: 100px;
      border: 2px solid $color-main;
      background-color: white;
      z-index: 1;
      white-space: nowrap;
      opacity: 0;
      transform: translate3d(0, 5px, 0);
      transition: opacity $ease-main, transform $ease-main;
      pointer-events: none;

      #{$b}__phone-icon:hover + &, &:hover {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: all;
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 7px 5px;
        border-color: transparent transparent $color-main transparent;
        position: absolute;
        bottom: 100%;
        right: 56px;
        margin-bottom: 2px;
      }
    }
  }

  &__link {
    font-size: 16px;
    color: $color-green-dark;
    transition: opacity $ease-main;
    line-height: 1.2;

    @include screen('lg') {
      font-size: 14px;
    }

    @include screen('sm') {
      font-size: 12px;
    }

    &_mobile {
      @include screen('sm', min) {
        display: none;
      }
    }

    &:hover {
      opacity: .5;
    }
  }

  &__phone {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
    display: block;

    @include screen('lg') {
      font-size: 14px;
    }

    @include screen('sm') {
      font-size: 12px;
      display: inline-block;
      margin: 7px 9px;
      color: $color-green-dark;
    }

    &:not(:first-child) {
      margin-top: 10px;

      @include screen('lg') {
        margin-top: 8px;
      }

      @include screen('sm') {
        margin-top: 7px;
      }
    }
  }

  &__button {
    width: 26px;
    height: 26px;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url('../images/down.svg') right center no-repeat;
      transform: scale(.9) translateY(5px);
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url('../images/burger.svg') right center no-repeat;
      background-size: 21px 22px;
      transition: opacity $ease-main, transform $ease-main;

      @include screen('sm') {
        background-image: url('../images/burger_mobile.svg');
        background-size: 100% 100%;
      }
    }

    &.is-active {

      &::before {
        transform: scale(.9);
        opacity: 0;
      }

      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__adresses {
    padding: 40px 0 30px 119px;
    font-size: 0;
    display: none;

    @include screen('lg') {
      padding: 9px 0 30px 5px;
    }

    @include screen('sm') {
      box-sizing: border-box;
      max-height: 373px;
      overflow: auto;
      margin: 20px -15px 0;
      padding: 0 15px 0 27px;
    }
  }

  &__adress {
    font-size: 16px;
    padding: 22px 35px 0;
    box-sizing: border-box;
    width: 33.333%;
    display: inline-block;

    @include screen('lg') {
      width: 50%;
      font-size: 14px;
      padding-top: 24px;
    }

    @include screen('sm') {
      width: 100%;
      font-size: 12px;
      padding: 14px 0 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &__additional {
    font-size: 12px;
    font-weight: 600;
    color: $color-grey-light-6;
    line-height: 1.2;
    margin-top: 96px;

    @include screen('lg') {
      margin-top: 80px;
    }

    @include screen('sm') {
      font-size: 9px;
      margin-top: 40px;
    }
  }

  &__noresults {
    font-family: $font-second;
    font-size: 20px;
    display: none;

    @include screen('lg') {
      padding-top: 15px;
      font-size: 18px;
    }

    @include screen('sm') {
      padding-top: 10px;
      font-size: 14px;
    }
  }

  &.is-empty {

    #{$b}__noresults {
      display: block;
    }

    #{$b}__row_head, #{$b}__items {
      display: none;
    }
  }
}
