.content-zone {
  counter-reset: section;
  font-size: 16px;
  line-height: 1.67;

  $b: &;

  &:not(:first-child) {
    margin-top: 74px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: $font-second;
    line-height: 1.5;
  }

  h2 {
    font-size: 30px;

    &:not(:first-child) {
      margin-top: 54px;
    }
  }

  h3 {
    font-size: 20px;
    color: $color-basic;
  }

  p {
    &:not(:first-child) {
      margin-top: 6px;
    }
  }

  ol {
    font-size: 18px;

    &:not(:first-child) {
      margin-top: 25px;
    }

    p {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    li {
      position: relative;
      counter-increment: section;
      padding-left: 30px;

      &::before {
        content: counter(section) '.';
        position: absolute;
        left: 0;
        top: 0;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  table {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $color-basic;
    text-align: center;
    line-height: 1.2;
    margin-left: -26px;
    min-width: 100%;

    &:not(:first-child) {
      margin-top: 51px;
    }

    td, th {
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: $color-basic;
      padding: 5px;
    }

    th {
      font-size: 18px;
      color: $color-grey-dark;
      font-family: $font-second;
      font-weight: 400;
    }

    td {
      font-size: 20px;
      color: $color-basic;

      &[colspan] {
        font-size: 16px;
      }
    }
  }

  &_about {
    font-size: 14px;
    line-height: 2.14;

    p {
      &:not(:first-child) {
        margin-top: 31px;
      }
    }

    ol {
      font-size: 14px;
      line-height: 1.43;

      &:not(:first-child) {
        margin-top: 33px;
      }

      li {
        padding-left: 20px;

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}
