.content-zone {
  counter-reset: section;
  font-size: 16px;
  line-height: 1.67;

  @include screen('lg') {
    font-size: 14px;
    line-height: 1.88;
  }

  @include screen('sm') {
    font-size: 12px;
    line-height: 1.67;
  }

  $b: &;

  &:not(:first-child) {
    margin-top: 74px;

    @include screen('lg') {
      margin-top: 42px;
    }

    @include screen('sm') {
      margin-top: 32px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: $font-second;
    line-height: 1.5;

    @include screen('lg') {
      line-height: 1.67;
    }

    @include screen('sm') {
      line-height: 1.6;
    }
  }

  h2 {
    font-size: 30px;

    @include screen('lg') {
      font-size: 20px;
    }

    @include screen('sm') {
      font-size: 14px;
    }

    &:not(:first-child) {
      margin-top: 54px;

      @include screen('lg') {
        margin-top: 27px;
      }

      @include screen('sm') {
        margin-top: 24px;
      }
    }
  }

  h3 {
    font-size: 20px;
    color: $color-basic;

    @include screen('lg') {
      font-size: 18px;
    }

    @include screen('sm') {
      font-size: 14px;
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 6px;

      @include screen('lg') {
        margin-top: 0px;
      }

      @include screen('sm') {
        margin-top: 16px;
      }
    }
  }

  ol {
    font-size: 18px;

    @include screen('lg') {
      font-size: 16px;
    }

    @include screen('sm') {
      font-size: 12px;
    }

    &:not(:first-child) {
      margin-top: 25px;

      @include screen('lg') {
        margin-top: 19px;
      }

      @include screen('sm') {
        margin-top: 17px;
      }
    }

    p {
      &:not(:first-child) {
        margin-top: 30px;

        @include screen('sm') {
          margin-top: 16px;
        }
      }
    }

    li {
      position: relative;
      counter-increment: section;
      padding-left: 30px;

      @include screen('sm') {
        padding-left: 20px;
      }

      &::before {
        content: counter(section) '.';
        position: absolute;
        left: 0;
        top: 0;
      }

      &:not(:first-child) {
        margin-top: 30px;

        @include screen('sm') {
          margin-top: 20px;
        }
      }
    }
  }

  table {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $color-basic;
    text-align: center;
    line-height: 1.2;
    margin-left: -26px;
    min-width: 100%;

    @include screen('lg') {
      margin-left: -31px;
    }

    @include screen('sm') {
      margin-left: 0;
    }

    td, th {
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: $color-basic;
      padding: 5px;
    }

    th {
      font-size: 18px;
      color: $color-grey-dark;
      font-family: $font-second;
      font-weight: 400;

      @include screen('lg') {
        font-size: 15px;
      }

      @include screen('sm') {
        font-size: 12px;
      }
    }

    td {
      font-size: 20px;
      color: $color-basic;

      @include screen('lg') {
        font-size: 16px;
      }

      @include screen('sm') {
        font-size: 12px;
      }

      &[colspan] {
        font-size: 16px;

        @include screen('lg') {
          font-size: 14px;
        }

        @include screen('sm') {
          font-size: 12px;
        }
      }
    }
  }

  &_about {
    font-size: 14px;
    line-height: 2.14;

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
    }

    h3 {
      & + p {
        @include screen('lg') {
          margin-top: 12px !important;
        }

        @include screen('sm') {
          margin-top: 16px !important;
        }
      }
    }

    p {
      &:not(:first-child) {
        margin-top: 31px;

        @include screen('sm') {
          margin-top: 20px;
        }
      }
    }

    ol {
      font-size: 14px;
      line-height: 1.43;

      @include screen('lg') {
        font-size: 12px;
        line-height: 1.67;
      }

      &:not(:first-child) {
        margin-top: 33px;

        @include screen('lg') {
          margin-top: 20px;
        }

        @include screen('sm') {
          margin-top: 17px;
        }
      }

      li {
        padding-left: 20px;

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }

  .table-wrap {
    &:not(:first-child) {
      margin-top: 51px;

      @include screen('lg') {
        margin-top: 20px;
      }

      @include screen('sm') {
        margin-top: 24px;
      }
    }

    @include screen('sm') {
      overflow: auto;
      margin-right: -15px;
      margin-left: -35px;

      table {
        min-width: 600px;
        margin-left: 35px;
        margin-right: 15px;
      }
    }
  }

  &_description {
    color: rgba($color-grey, .63);
    font-size: 12px;
    line-height: 1.2;

    @include screen('lg') {
      font-size: 14px;
      line-height: 18px;
      color: rgba($color-grey, .73);
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 20px;
    }

    p {
      &:not(:first-child) {
        margin-top: 16px;

        @include screen('lg') {
          margin-top: 8px;
        }

        @include screen('sm') {
          margin-top: 16px;
        }
      }
    }

    & + .content-zone {
      margin-top: 58px;

      @include screen('lg') {
        margin-top: 36px;
      }

      @include screen('sm') {
        margin-top: 24px;
      }
    }
  }
}
