mixin switcher(one, two)
  +b.LABEL.switcher&attributes(attributes)
    +e.P.text!= one
    +e.INPUT.input(type="checkbox").js-switcher

    +e.box
      +e.mover
        +e.circle

    +e.P.text!= two
