mixin share-button(icon)
  +e.BUTTON.button(type="button")&attributes(attributes)
    +icon(icon).__icon

mixin share()
  +b.share&attributes(attributes)
    +e.P.text Поделиться
    +e.buttons
      +share-button('twitter')(data-sharer="twitter" data-title="Заголовок" data-hashtags="хештег1, хештег2" data-url="URL страницы")
      +share-button('facebook')(data-sharer="facebook" data-hashtag="хештег" data-url="URL страницы")
      +share-button('odnoklassniki')(data-sharer="okru" data-url="URL страницы" data-title="Заголовок")
      +share-button('telegram')(data-sharer="telegram" data-title="Заголовок" data-url="URL страницы")
