.share {
  display: flex;
  justify-content: space-between;
  align-items: center;

  $b: &;

  &__text {
    color: $color-grey-light-8;
    text-transform: uppercase;
    font-size: 16px;

    @include screen('sm') {
      font-size: 14px;
    }
  }

  &__buttons {
    font-size: 0;
    display: block;
  }

  &__button {
    border-radius: 5px;
    background-color: $color-main;
    transition: opacity $ease-main;
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    fill: white;

    @include screen('lg') {
      width: 40px;
      height: 40px;
    }

    @include screen('sm') {
      width: 29px;
      height: 29px;
    }

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-left: 8px;

      @include screen('sm') {
        margin-left: 6px;
      }
    }
  }

  &__icon {
    width: 22px;
    height: 27px;

    @include center-image;

    @include screen('lg') {
      width: 22px;
      height: 22px;
    }

    @include screen('sm') {
      width: 15px;
      height: 17px;
    }
  }
}
