extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Тест'
  - var activePoint = 1;

block content
  +breadcrumbs(['Главная', 'Тест'])

  +section._padding_one
    +section-header('Пройдите тест и узнайте, как защитить вашу собаку от наружных паразитов!')._width_one._line_one
    +section-content._margin_one
      +test(getData('test'))
