.dots {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 11px;

  @include screen('sm') {
    margin-top: 4px;
  }

  .swiper-container-horizontal & {
    display: flex;
  }

  $b: &;

  &__dot {
    width: 10px;
    height: 10px;
    margin: 6px;
    background-color: $color-grey-light;
    border-radius: 50%;
    transition: background-color $ease-main, transform $ease-main;
    position: static !important;
    cursor: pointer;

    @include screen('sm') {
      width: 8px;
      height: 8px;
      margin: 2px;
    }

    &.is-active {
      background-color: $color-yellow-2;

      @include screen('sm', min) {
        transform: scale(1.1);
      }
    }
  }
}
