.article-card {
  display: block;

  @include screen('lg') {
    padding: 33px 24px 34px;
    background-color: $color-grey-light;
  }

  @include screen('sm') {
    padding: 0 20px;
    background-color: transparent;
  }

  $b: &;

  &__image {
    position: relative;
    overflow: hidden;
    height: 237px;

    @include screen('lg') {
      display: none;
    }

    img {
      transition: transform $ease-main;

      @include fill-img;

      #{$b}:hover & {
        transform: scale(1.15);
      }
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: rgba($color-grey-dark, .8);

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.57;
    }

    &:not(:first-child) {
      margin-top: 50px;

      @include screen('lg') {
        margin-top: 0;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.65;
    color: rgba($color-grey-dark, .8);

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
    }

    &:not(:first-child) {
      margin-top: 31px;

      @include screen('lg') {
        margin-top: 12px;
      }
    }
  }
}
