.article-card {
  display: block;
  padding: 35px 55px 45px 35px;
  border-radius: 15px;
  background-color: rgba($color-yellow-3, .2);
  transition: opacity $ease-main;

  @include screen('lg') {
    padding: 29px 24px 64px;
  }

  @include screen('sm') {
    padding: 21px 24px 38px;
  }

  &:hover {
    opacity: .7;
  }

  $b: &;

  &_color {

    &_2 {
      background-color: rgba($color-orange, .2);
    }

    &_3 {
      background-color: $color-green-4;
    }

    &_4 {
      background-color: $color-purple-2;
    }

    &_5 {
      background-color: $color-blue-light-2;
    }

    &_6 {
      background-color: rgba($color-brown, .2);
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: rgba($color-grey-dark, .8);

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.57;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.72;
    color: rgba($color-grey-dark, .8);

    @include screen('lg') {
      line-height: 1.65;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
    }

    &:not(:first-child) {
      margin-top: 19px;
    }
  }
}
