.page-404 {
  display: block;
  flex-grow: 1;
  padding: 64px;
  text-align: center;
  font-family: $font-second;
  color: white;
  display: flex;

  @include screen('lg') {
    padding: 48px 37px;
  }

  @include screen('sm') {
    padding: 20px 15px;
  }

  $b: &;

  &__content {
    position: relative;
    padding: 113px 100px 76px;
    background-color: $color-yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include screen('lg') {
      padding: 77px 50px 42px;
    }

    @include screen('sm') {
      padding: 14px 3px;
    }
  }

  &__texts {
    display: block;
    max-width: 760px;
    margin: 0 auto;

    @include screen('lg') {
      max-width: 380px;
    }

    @include screen('sm') {
      max-width: 300px;
    }
  }

  &__heading {
    font-size: 100px;
    font-weight: 700;

    @include screen('lg') {
      font-size: 50px;
    }

    @include screen('sm') {
      font-size: 20px;
    }
  }

  &__subheading {
    font-size: 60px;
    font-weight: 800;

    @include screen('lg') {
      font-size: 30px;
    }

    @include screen('sm') {
      font-size: 15px;
    }

    &:not(:first-child) {
      margin-top: 38px;

      @include screen('lg') {
        margin-top: 20px;
      }

      @include screen('sm') {
        margin-top: 5px;
      }
    }
  }

  &__text {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;

    @include screen('lg') {
      font-size: 15px;
      line-height: 1.8;
    }

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.33;
    }

    &:not(:first-child) {
      margin-top: 27px;

      @include screen('lg') {
        margin-top: 25px;
      }

      @include screen('sm') {
        margin-top: 10px;
      }
    }
  }

  &__dog {
    margin-top: 96px;

    @include screen('lg') {
      margin-top: 24px;
      width: 225px;
    }

    @include screen('sm') {
      margin-top: 20px;
      width: 92px;
    }
  }

  &__line {
    position: absolute;
    pointer-events: none;

    &_1 {
      top: -52px;
      left: -25px;
      width: 281px;
      height: 567px;
      z-index: -1;

      @include screen('lg') {
        top: -30px;
        left: -16px;
        width: 150px;
        height: 303px;
      }

      @include screen('sm') {
        top: -10px;
        left: -7px;
        width: 61px;
        height: 125px;
      }
    }

    &_2 {
      bottom: 367px;
      left: -68px;
      width: 472px;
      height: 190px;

      @include screen('lg') {
        bottom: 198px;
        left: -37px;
        width: 245px;
        height: 100px;
      }

      @include screen('sm') {
        bottom: 79px;
        left: -17px;
        width: 108px;
        height: 42px;
      }
    }

    &_3 {
      bottom: 129px;
      left: -65px;
      width: 31px;
      height: 240px;

      @include screen('lg') {
        bottom: 71px;
        left: -37px;
        width: 16px;
        height: 132px;
      }

      @include screen('sm') {
        bottom: 25px;
        left: -15px;
        width: 8px;
        height: 54px;
      }
    }

    &_4 {
      bottom: -10px;
      left: -65px;
      width: 335px;
      height: 845px;
      z-index: -1;

      @include screen('lg') {
        bottom: -22px;
        left: -37px;
        width: 188px;
        height: 452px;
      }

      @include screen('sm') {
        bottom: -15px;
        left: -17px;
        width: 84px;
        height: 190px;
      }
    }

    &_5 {
      bottom: -50px;
      left: 272px;
      width: 252px;
      height: 158px;
      z-index: -1;

      @include screen('lg') {
        bottom: -31px;
        left: 128px;
        width: 133px;
        height: 84px;
      }

      @include screen('sm') {
        bottom: -18px;
        left: 53px;
        width: 55px;
        height: 36px;
      }
    }

    &_6 {
      bottom: -50px;
      right: 169px;
      width: 463px;
      height: 184px;
      z-index: -1;

      @include screen('lg') {
        bottom: -40px;
        right: 126px;
        width: 213px;
        height: 115px;
      }

      @include screen('sm') {
        bottom: -20px;
        right: 53px;
        width: 87px;
        height: 49px;
      }
    }

    &_7 {
      bottom: 32px;
      right: -54px;
      width: 105px;
      height: 240px;
      z-index: -1;

      @include screen('lg') {
        bottom: 18px;
        right: -30px;
        width: 56px;
        height: 128px;
      }

      @include screen('sm') {
        bottom: 4px;
        right: -7px;
        width: 23px;
        height: 54px;
      }
    }

    &_8 {
      bottom: 199px;
      right: -65px;
      width: 342px;
      height: 480px;

      @include screen('lg') {
        bottom: 106px;
        right: -37px;
        width: 184px;
        height: 257px;
      }

      @include screen('sm') {
        bottom: 48px;
        right: -15px;
        width: 66px;
        height: 86px;
      }
    }

    &_9 {
      top: -57px;
      right: 75px;
      width: 558px;
      height: 837px;
      z-index: -1;

      @include screen('lg') {
        top: -34px;
        right: 40px;
        width: 296px;
        height: 447px;
      }

      @include screen('sm') {
        top: -12px;
        right: 22px;
        width: 121px;
        height: 182px;
      }
    }

    &_10 {
      bottom: 564px;
      right: 213px;
      width: 75px;
      height: 75px;

      @include screen('lg') {
        width: 41px;
        height: 41px;
        bottom: 302px;
        right: 114px;
      }

      @include screen('sm') {
        bottom: 122px;
        right: 50px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
