extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.page-404
    +e.content
      +e.texts
        +e.H1.heading 404
        +e.H2.subheading Страница не найдена.
        +e.P.text К сожалению, страницы, соответствующей вашему запросу не существует.
        +e.IMG.dog(src="assets/images/404_dog.svg")

      +e.lines
        +e.IMG.line(src="assets/images/404_line_1.svg")._1
        +e.IMG.line(src="assets/images/404_line_2.svg")._2
        +e.IMG.line(src="assets/images/404_line_3.svg")._3
        +e.IMG.line(src="assets/images/404_line_4.svg")._4
        +e.IMG.line(src="assets/images/404_line_5.svg")._5
        +e.IMG.line(src="assets/images/404_line_6.svg")._6
        +e.IMG.line(src="assets/images/404_line_7.svg")._7
        +e.IMG.line(src="assets/images/404_line_8.svg")._8
        +e.IMG.line(src="assets/images/404_line_9.svg")._9
        +e.IMG.line(src="assets/images/404_socket.svg")._10

