@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  display: block;
  overflow: visible;
  touch-action: none;

  $b: &;

  .swiper-wrapper {
    width: auto;
    height: auto;
    box-sizing: border-box;
  }

  &.swiper-container-horizontal {
    .swiper-wrapper {
      display: flex;
      flex-wrap: nowrap;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    .swiper-slide {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.js-faq-slider.swiper-container-horizontal {
  .swiper-slide {
    width: calc(100vw - 36px - 206px);
  }
}
