extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Статьи'
  - var activePoint = 3;

block content
  +breadcrumbs(['Главная', 'Статьи'])

  +section._padding_two
    +section-header('Статьи')
    +section-content._margin_four
      +grid.grid_size_three
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('Собаку укусил клещ, что делать?', 'С приходом первых теплых дней хозяевам собак стоит быть особенно внимательными к своим питомцам. Любая прогулка, на природе или в городском парке, может закончиться встречей с клещом, паразитом, одинаково опасным для животного и человека. Несмотря на маленький размер, клещи могут нанести серьезный урон здоровью.   ')(href="article.html")
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('Средства защиты для щенка, кормящей и беременной собаки против паразитов', 'Защита от паразитов нужна всем собакам. Обычно выбрать хорошее средство для животного не сложно, но как быть владельцам щенков и собак, которые собираются родить или недавно ощенились? Ведь ветеринарный препарат должен не только эффективно защищать, иметь продолжительное действие, но и быть безопасным для питомца.')(href="article.html")._color_2
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('Болезни собак: основные симптомы плохого самочувствия?', 'Признаки и симптомы многих болезней собак часто бывают заметны уже на ранних стадиях. Задача хозяина – обратить на них внимание и вовремя начать лечить питомца либо обратиться вместе с ним в ветеринарную клинику. В некоторых случаях откладывать визит к врачу – непростительная ошибка хозяина, которая может привести к непоправимым последствиям. ')(href="article.html")._color_3
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('Хотите вовремя распознать начинающуюся болезнь у вашей собаки?', 'Любая собака может заболеть инфекционной болезнью. Это связано с попаданием в организм питомца патогенных микроорганизмов. Однако заражение любимца обычно происходит только при восприимчивости его организма к инфекции. Некоторые инфекционные болезни собак очень опасны и протекают в виде эпидемий.')(href="article.html")._color_4
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('Болезни собак: основные симптомы плохого самочувствия?', 'Признаки и симптомы многих болезней собак часто бывают заметны уже на ранних стадиях. Задача хозяина – обратить на них внимание и вовремя начать лечить питомца либо обратиться вместе с ним в ветеринарную клинику. В некоторых случаях откладывать визит к врачу – непростительная ошибка хозяина, которая может привести к непоправимым последствиям.  врачу – непростительная ошибка хозяина.\n')(href="article.html")._color_5
        +col({'xl': 6, 'sm': 12}).grid__col_grow.swiper-slide
          +article-card('Хотите вовремя распознать начинающуюся болезнь у вашей собаки?', 'Любая собака может заболеть инфекционной болезнью. Это связано с попаданием в организм питомца патогенных микроорганизмов. Однако заражение любимца обычно происходит только при восприимчивости его организма к инфекции. Некоторые инфекционные болезни собак очень опасны и протекают в виде эпидемий.')(href="article.html")._color_6
