extends ../../layouts/default

block head
  - var pageTitle = 'Симпарика | Статьи'
  - var activePoint = 3;

block content
  +breadcrumbs(['Главная', 'Статьи'])

  +section._padding_one
    +section-header('Статьи')
    +section-content._margin_one
      +slider(true).js-articles-slider
        +grid.grid_size_two.swiper-wrapper
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Первая помощь при укусе клеща', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Как подготовиться к отпуску с питомцем', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Как вычислить и устранить паразитов?', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Первая помощь при укусе клеща', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Как подготовиться к отпуску с питомцем', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Как вычислить и устранить паразитов?', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Первая помощь при укусе клеща', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Как подготовиться к отпуску с питомцем', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
          +col({'xl': 4, 'sm': 12}).grid__col_grow.swiper-slide
            +article-card('assets/images/poster.jpg', 'Как вычислить и устранить паразитов?', 'Если клещ присосался к коже человека, то снимать его следует особенно осторожно, чтобы не оборвать хоботок, который глубоко и сильно укрепляется на весь период присасывания.')(href="instruction.html")
