mixin search()
  +b.search&attributes(attributes)
    .container
      +e.top
        +e.bar
          +city-select.__select
            each option in getData('cities')
              option(value=option)!= option
        +switcher('списком', 'на карте').__switcher.js-map-switch

      +e.filters
        +zoo-radio('searchRadio', '1', true)._zoo.__filter Ветаптеки и зоомагазины
        +zoo-radio('searchRadio', '2', true)._zoo.__filter Клиники
        +zoo-radio('searchRadio', '3')._zoo.__filter Дистрибьюторы

      +tabs.__tabs
        +tab(data-tab-target="shops").is-active Показать списком
        +tab(data-tab-target="map") Показать карту
