.search {
  display: block;
  color: white;
  background-color: $color-main;
  padding: 30px 0 34px;

  $b: &;

  @include screen('lg') {
    padding-top: 14px;
    padding-bottom: 28px;
    border-top: 1px solid white;
  }

  @include screen('sm') {
    padding-top: 12px;
    padding-bottom: 0;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__bar {
    flex: 1;
    padding-left: 59px;
    margin-right: 40px;
    position: relative;

    @include screen('lg') {
      padding-left: 50px;
    }

    @include screen('sm') {
      padding-left: 38px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url('../images/search.svg');

      @include screen('lg') {
        width: 23px;
        height: 26px;
        bottom: 8px;
      }

      @include screen('sm') {
        width: 19px;
        height: 18px;
        bottom: 3px;
      }
    }
  }

  &__select {

  }

  &__tabs {
    margin-top: 16px;
    border-top: 1px dashed white;

    @include screen('sm', min) {
      display: none;
    }
  }

  &__switcher {
    margin-top: -6px;

    @include screen('sm') {
      display: none;
    }
  }

  &__filters {
    margin-top: 28px;
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;

    @include screen('lg') {
      margin-top: 6px;
    }

    @include screen('sm') {
      margin-top: 9px;
      justify-content: space-between;
    }
  }

  &__filter {
    margin: 26px 60px 0 0;

    @include screen('lg') {
      margin: 28px 20px 0 0;
    }

    @include screen('sm') {
      margin-top: 19px;
      margin-right: 0;
      box-sizing: border-box;
      width: 42%;
    }
  }
}
