.faq-card {
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  border: 8px solid $color-green;
  padding: 78px 21px 46px;
  position: relative;
  width: 100%;

  $b: &;

  @include screen('lg') {
    padding-top: 72px;
  }

  @include screen('sm') {
    padding: 48px 17px 34px;
  }

  &_purple {
    border-color: $color-purple;
  }

  &_blue {
    border-color: $color-blue-bright;
  }

  &_brown {
    border-color: $color-brown;
  }

  &_orange {
    border-color: $color-orange;
  }

  &_yellow {
    border-color: $color-yellow-3;
  }

  &__image {
    font-size: 0;
    position: absolute;
    left: 0;
    top: -70px;
    height: 133px;
    padding: 0 21px;

    @include screen('lg') {
      height: 120px;
      top: -62px;
    }

    @include screen('sm') {
      height: 93px;
      padding: 0 17px;
      top: -54px;
    }

    #{$b}_center & {
      @include screen('lg', min) {
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    #{$b}_right & {
      @include screen('lg', min) {
        left: unset;
        right: 0;
      }
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: rgba($color-grey-dark, .8);

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: rgba($color-grey-dark, .8);
    max-width: 1030px;

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
    }

    p {
      &:not(:first-child) {
        margin-top: 13px;
      }
    }

    ul {
      &:not(:first-child) {
        margin-top: 13px;
      }

      li {
        padding-left: 10px;
        position: relative;

        &::before {
          content: '–';
          position: absolute;
          left: 0;
          top: 0;
        }

        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }

    &:not(:first-child) {
      margin-top: 19px;

      @include screen('sm') {
        margin-top: 14px;
      }
    }
  }
}
