.faq-card {
  display: block;
  box-sizing: border-box;
  border-radius: 15px;
  border: 8px solid $color-green;
  padding: 78px 26px 46px;
  position: relative;
  width: 100%;

  $b: &;

  @include screen('sm') {
    padding: 41px 17px 57px;
  }

  &_purple {
    border-color: $color-purple;
  }

  &_blue {
    border-color: $color-blue-bright;
  }

  &_brown {
    border-color: $color-brown;
  }

  &_orange {
    border-color: $color-orange;
  }

  &__image {
    font-size: 0;
    position: absolute;
    left: -8px;
    top: -70px;
    height: 133px;

    @include screen('lg') {
      height: 120px;
      top: -62px;
      left: 22px;
    }

    @include screen('sm') {
      height: 80px;
      left: 24px;
    }

    #{$b}_center & {
      @include screen('sm', min) {
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    #{$b}_right & {
      @include screen('sm', min) {
        left: unset;
        right: -8px;
      }
    }
  }

  &__title {
    font-family: $font-second;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: rgba($color-grey-dark, .8);

    @include screen('sm') {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: rgba($color-grey-dark, .8);

    @include screen('sm') {
      font-size: 12px;
      line-height: 1.67;
    }

    &:not(:first-child) {
      margin-top: 19px;

      @include screen('sm') {
        margin-top: 17px;
      }
    }
  }
}
